@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-corner {
  border-radius: 6px;
}

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-container:has(.light-background) {
  background: var(--light-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container:has(.light-background-transparent) {
  background: var(--light-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container:has(.dark-background) {
  background: var(--dark-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-container:has(.dark-background-transparent) {
  background: var(--dark-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {
  /* box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075); */
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
}

.info {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  margin: 10px;
  padding: 0.5rem;
}

.taskbar {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 10px;
  z-index: 1;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.taskbar-content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, .45);
}

.taskbar:hover {
  z-index: 999;
}

.avatar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 60px;
}

.avatar-content>div {
  margin: 15px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.avatar-content img {
  margin-bottom: 30px;
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.05);
}

.summary-info {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.summary-text {
  margin-left: 10px;
}

.summary-text-title {
  font-family: Poppins, sans-serif;
  --tw-text-opacity: 1;
  color: rgb(68 86 108/var(--tw-text-opacity));
  font-size: 0.75rem;
}

.dark-background .summary-text-title,
.dark-background-transparent .summary-text-title {
  color: white;
}

.summary-text-content {
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.introduce-animated {
  font-family: "Anonymous Pro", monospace !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce-text {
  width: 100%;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

.my-name {
  font-weight: bolder;
  font-family: 'Righteous', serif;
  text-shadow: .03em .03em 0 hsla(230, 40%, 50%, 1);
  transition: all 0.25s ease-out;
}

.blink-animation {
  animation: blink-caret .75s steps(17) infinite;
}

.main-container {
  height: 100%;
  transition: background 0.3s ease-in-out;
}

.personal-info {
  min-width: 380px;
  max-width: 100%;
}

.btn {
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.75);
  border: none;
  min-height: 35px;
  text-align: center;
  font-size: 16px;
  padding: 5px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.btn:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 10px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn:active {
  top: 1px;
}

.error-color {
  color: #fff;
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.warning-color {
  color: #fff;
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75)
}

.default-color {
  color: #fff;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.success-color {
  color: #fff;
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75)
}

.search-area {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 250px) {

  .not-support-message {
    display: block !important;
  }

  .main-container {
    display: none;
  }
}

@media screen and (max-height: 600px) {
  .container {
    margin-bottom: 95px;
  }
}

@media screen and (max-width: 280px) {

  .summary-text-content {
    width: 50px;
  }
}

@media screen and (max-width: 500px) {

  .applications-area>.application:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 430px) {

  .applications-area>.application:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 360px) {

  .applications-area>.application:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 300px) {

  .applications-area>.application:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 320px) and (min-width: 280px) {

  .summary-text-content {
    width: 100px;
  }
}


@media screen and (max-width: 430px) and (min-width: 320px) {

  .summary-text-content {
    width: 150px;
  }
}

@media screen and (max-width: 768px) {

  .main-content {
    padding: 0;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
  }
}

@media screen and (max-width: 1024px) {

  .main-container {
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }

  .main-settings {
    max-width: 100% !important;
  }

  .setting-content {
    display: block !important;
  }

  body {
    overflow: auto;
  }

  .search-area,
  .tool-area {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  .desktop {
    display: none !important;
  }

  .taskbar {
    display: none !important;
  }

  .color-section {
    display: none !important;
  }

}

@media screen and (max-width: 1920px) {
  .main-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.mobile {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}

.desktop {
  display: block;
}

.light-background {
  background-color: #f1f3f4;
  color: black;
  transition: background-color .3s ease-out;
  border: 0.2px #ccc solid;
}

.light-background-transparent {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  transition: background-color .3s ease-out;
  border: 0.2px #ccc solid;
  backdrop-filter: blur(30px);
}

.dark-background {
  background-color: #283142;
  color: white;
  transition: background-color .3s ease-out;
  border: 0.2px #6f6f6f solid;
}

.dark-background-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  transition: background-color .3s ease-out;
  border: 0.2px #6f6f6f solid;
  backdrop-filter: blur(30px);
}

.m-1 {
  margin: 10px;
}

.m-2 {
  margin: 20px;
}

.m-3 {
  margin: 30px;
}

.mr-4 {
  margin: 40px;
}

.m-5 {
  margin: 50px;
}

.pd-1 {
  padding: 10px;
}

.pd-2 {
  padding: 20px;
}

.pd-3 {
  padding: 30px;
}

.pd-4 {
  padding: 40px;
}

.pd-5 {
  padding: 50px;
}

.br {
  border-radius: 7.5px;
}

.br-1 {
  border-radius: 10px;
}

.br-2 {
  border-radius: 20px;
}

.br-3 {
  border-radius: 30px;
}

.br-4 {
  border-radius: 40px;
}

.br-5 {
  border-radius: 50px;
}

.blur-5 {
  backdrop-filter: blur(50px) !important;
}

.blur-4 {
  backdrop-filter: blur(40px) !important;
}

.blur-3 {
  backdrop-filter: blur(30px) !important;
}

.blur-2 {
  backdrop-filter: blur(20px) !important;
}

.blur-1 {
  backdrop-filter: blur(10px) !important;
}

.bd-b {
  border-bottom: 0.7px solid #ccc;
}

.bd-t {
  border-top: 0.7px solid #ccc;
}

.bd-r {
  border-right: 0.7px solid #ccc;
}

.bd-l {
  border-left: 0.7px solid #ccc;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes blink-caret {
  50% {
    opacity: 0
  }
}

.not-support-message {
  display: none;
  font-weight: 900;
  text-align: center;
}

.color-1 {
  background-color: #ffabd8;
}

.color-2 {
  background-color: #ffd19b;
}

.color-3 {
  background-color: #0871c6;
}

.color-4 {
  background-color: #07c598;
}

.color-5 {
  background-color: #ff925d;
}

.action-bar {
  border: none !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: background-color 0.3s ease-in-out;
}

.drag-area {
  width: 100%;
  height: 35px;
  cursor: move;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
}

.action-bar.dark-background {
  box-shadow: rgba(255, 255, 255, 0.334) 0px 10px 10px -10px;
  border-bottom: 0.7px solid #ccc;
}

.action-buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.action-buttons>.action-icon {
  text-align: center;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-height: 35px;
  background: none;
  border: none;
  border-left: 0.7px solid #ccc;
}

.action-buttons>.action-icon:hover {
  background-color: #9f9f9fd6;
  cursor: pointer;
}

.action-buttons>.action-icon:first-child:hover {
  background-color: #ff4000d6;
}

.input-bar {
  width: 100%;
  position: relative;
}

.input {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  border: none;
  min-height: 20px;
  max-height: 40px;
  transition: box-shadow 0.3s ease;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
}

.input-icon-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.input-icon-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.applications-area {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.applications-area>.application {
  position: relative;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent),
      color-stop(0.7, transparent), to(rgba(255, 255, 255, .5))); */
  -webkit-transition: all 0.6s;
  -webkit-transform-origin: 50% 100%;
}

.application>img {
  width: 100%;
  height: 100%;
  z-index: 4;
}

.applications-area>.application:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  margin: 0 1em;
}

.application-name {
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 110%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 2px 0;
  border-radius: 12px;
  font-size: 6px;
  text-align: center;
}

.applications-area>.application:hover>.application-name {
  display: block;
  color: #fff;
  opacity: 1;
  visibility: visible;
}

.application:hover+.application {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  margin: 0 0.5em;
}

.application:has(+.application:hover) {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  margin: 0 0.5em;
}

.activating-app {
  width: 12px;
  height: 4px;
  background-color: #2bb673;
  position: absolute;
  bottom: -8px;
  border-radius: 2.4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  z-index: 5;
  transform: scaleX(1);
  transition: all ease-in;
}

.opened-app {
  width: 5px;
  height: 5px;
  background-color: #7a7a7a;
  position: absolute;
  bottom: -8px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.tool-area {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row-reverse;
  width: 250px;
  padding-right: 10px;
  padding-left: 10px;
}

.date-and-time {
  text-align: right;
  margin-left: 10px;
  width: 130px;
  font-weight: bold;
}

.app-open-animation {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: translateY(0, 100px);
}

.window {
  opacity: 1;
  visibility: visible;
  display: flex;
}

.theme-setting {
  margin-right: 10px;
  margin-left: 10px;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.theme-config-list {
  position: absolute;
  bottom: 115%;
  height: max-content;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
  width: max-content;
  padding: 10px;
  visibility: hidden;
}

.theme-config-list::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
}

.theme-setting:hover .theme-config-list {
  opacity: 1;
  visibility: visible;
}

.switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.switch-label {
  font-weight: bold;
  margin-right: 5px;
}

.switch-additional-label {
  font-weight: bold;
  margin-left: 5px;
}

.switch {
  border-radius: 20px;
  min-height: 26px;
  min-width: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

.switch.disabled {
  cursor: not-allowed;
}

.switch-disabled {
  width: 100%;
  height: 100%;
  background-color: #00000078;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
}

.switch:has(.switch-lever-inactive) {
  background-color: rgb(191 191 191);
}

.switch:has(.switch-lever-active) {
  background-color: rgb(22 119 255);
}

.switch-lever {
  margin: 3px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, .2);
}

.switch-lever-active {
  margin-left: 27px;
}

.switch-lever-inactive {
  margin-left: 3px;
}

.settings {
  width: 50px;
  height: 50px;
}

.settings>img {
  width: 100%;
  height: 100%;
}

.wallpaper-select-container {}

.list-wallpapers {
  display: flex;
  margin-top: 20px;
  align-content: center;
  align-items: center;
  justify-items: start;
  gap: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.wallpaper-card {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.wallpaper-card:hover>img {
  box-shadow: 0px 0px 0px 3px rgba(22, 119, 255, 0.548);
}

.wallpaper-card>img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.current-wallpaper {
  box-shadow: 0px 0px 0px 4px rgb(22 119 255);
  cursor: not-allowed;
}

.application-devider {
  height: 70%;
  margin-left: 10px;
}

.dark-background .application-devider,
.dark-background-transparent .application-devider {
  border-left: 1px solid #ccc;
}

.light-background .application-devider,
.light-background-transparent .application-devider {
  border-left: 1px solid #494949;
}

.setting-content {
  display: flex;
}

.main-settings {
  max-width: 500px;
}

.setting-icon {
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  margin-right: 10px;
}

.setting-title-text {
  width: 100%;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.selectable {
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.selectable:hover {
  background-color: #4096ff50;
}

.current-setting {
  background-color: #1677ffc5;
}

.setting-icon>img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.setting-section {
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px;
}

.setting-detail-content {
  width: 100%;
}

.color-section {
  border-radius: 10px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0.8px solid #ccc;
}

.dark-background .color-section,
.dark-background-transparent .color-section {
  box-shadow: inset 0 2px 4px 0 rgba(255, 255, 255, 0.05);
}

.color-section>.text {
  width: 100%;
  text-align: center;
}

.color-select-container {
  min-height: 40px;
  width: 100%;
}

.color-selection {
  margin-top: 10px;
  display: flex;
  width: fit-content;
}

.color-selection:hover .color-panel {
  width: 100px;
}

.color-panel {
  z-index: 1;
  min-height: 40px;
  cursor: pointer;
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  width: 80px;
}

.current-color-panel {
  box-shadow: 0px 0px 0px 4px rgb(22 119 255);
}

.setting-switch {
  width: 100%;
  position: relative;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-clip: padding-box;
  border: 4px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}

.modal-header {
  max-height: 50px;
  min-height: 35px;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 0 0;
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.45);
}

.modal-title {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 20px;
}

.modal-body {
  height: 100%;
  padding: 10px;
}

.modal-footer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-height: 50px;
  min-height: 35px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 0 20px 20px;
  flex-direction: row-reverse;
  box-shadow: 0px -5px 15px -10px rgba(0, 0, 0, 0.45);
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.modal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 19;
  transition: visibility 1.5s ease-in-out;
}

.open {
  transform: scaleY(.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  visibility: visible;
}

.close {
  transform: scale(1);
  animation: unfoldOut 1s .3s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  visibility: hidden;
}

.open .modal {
  transform: scale(0);
  animation: zoomIn .5s .8s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  visibility: visible;
}

.close .modal {
  animation: zoomOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
  visibility: hidden;
}

.modal-background {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.modal {
  border-radius: 20px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  z-index: 20;
  max-height: 600px;
  transition: visibility 1s ease-in-out;
}

.modal-timing {
  font-size: 20px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.left-profile {
  width: 100%;
  max-width: 800px;
}

.right-profile {
  max-width: 400px;
  width: 100%;
  height: 100%;
}

.skills {
  width: 100%;
}

.skill {
  min-height: 50px;
}

.skill>.skill-name {
  min-width: 100px;
  margin-bottom: 5px;
}

.level {
  width: 100%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0871c6;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.level-progress-75 {
  width: 75%;
}

.level-progress-90 {
  width: 90%;
}

.skill-title {
  margin-bottom: 10px;
}

.skill-title>span {
  font-family: Poppins, sans-serif;
  font-size: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
  margin-left: 10px;
}

.summary-content {}

h1.summary-title {
  font-size: 15.5pt;
  font-family: "Calibri", sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
}

.project {
  margin-left: 20px;
  font-size: 13px;
}

.project-date {
  font-size: 9.0pt;
  font-family: "Calibri", sans-serif;
}

.project-name {
  font-size: 11.0pt;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}

.my-cv {
  text-align: center;
  width: 100%;
}
